<div class="content-container">
  <div class="content-card form">
    <h2>Edit event!</h2>
    <%= render 'event_form' %>
    <%= button_to "Delete", @event, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this event?" } } %>
  </div>
</div>