<div class="content-container">
<h2>Upcoming Events</h2>
<div class="events-container">
  <% @events.upcoming.each do |event| %>
    <%= render 'shared/event_card', :event => event %>
  <% end %>
</div>
</div>

<h2>Past Events</h2>
<div class="content-container">
<div class="events-container">
  <% @events.past.each do |event| %>
    <%= render 'shared/event_card', :event => event %>
  <% end %>
</div>
</div>
